.wrap {
  overflow: hidden auto;
  width: 200px;
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
}
.imgWrap {
  background-color: #fff;
  padding: 4px;
  border: 4px solid transparent;
  width: 168px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  cursor: pointer;
  user-select: none;

  & + .imgWrap {
    margin-top: 10px;
  }
  img {
    display: block;
    height: 100px;
    width: 150px;
    object-fit: cover;
  }
  &.active {
    border-color: #1677ff;
  }
}

.btns {
  margin-bottom: 12px;
  display: flex;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  div {
    flex: 1;
    text-align: center;
    cursor: pointer;
    line-height: 50px;
    color: #666;
    background-color: #fff;
  }
  div:nth-child(1) {
    border-right: 1px solid #eee;
  }
}
