.wrap {
  width: 300px;
  overflow: hidden auto;
  position: relative;
  z-index: 2;
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
}

.btnWrap {
  text-align: center;
  cursor: pointer;
  line-height: 50px;
  color: #666;
  background-color: #fff;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.1);
}

.logos {
  display: flex;
  flex-wrap: wrap;
}
.logoItem {
  background-color: #fff;
  border: 4px solid transparent;
  width: 80px;
  height: 80px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  overflow: hidden;
  margin: 0 calc((100% - 240px) / 2) calc((100% - 240px) / 2) 0;
  &:nth-child(3n) {
    margin-right: 0;
  }
  cursor: pointer;
  user-select: none;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  &.active {
    border-color: #1677ff;
  }
}

.formItem {
  display: flex;
  align-items: center;
  span {
    width: 50px;
    flex-shrink: 0;
  }
  > div {
    flex: 1;
  }
}
